@font-face {
	font-family: 'WaffleBold';
	src: url(../fonts/WaffleBold.otf);
}
@font-face {
	font-family: 'WaffleLight';
	src: url(../fonts/WaffleLight.otf);
}
@font-face {
	font-family: 'WaffleRegular';
	src: url(../fonts/WaffleRegular.otf);
}
@font-face {
	font-family: 'WaffleSemiBold';
	src: url(../fonts/WaffleSemiBold.otf);
}

body {
  background: black;
  color:#fff;
  font-family: WaffleLight;
	font: size 5px;
  letter-spacing: 2px;
}

#nav_bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
}

h1 {
font-family: WaffleRegular;
letter-spacing: 2px;
  }
 
  .container{
    width:80%;
    margin:auto;
    overflow:hidden;
  }
  
  #main-header{
    color:#fff;
  }
  
  #navbar{
    color:#fff;
  }
  
  #navbar ul{
    padding:0;
    list-style: none;
  }
  
  #navbar li{
    display:inline;
  }
  
  #navbar a{
    color:#fff;
    text-decoration: none;
    font-size:18px;
    padding-right:15px;
  }