
/* @font-face {
	font-family: 'WaffleRegular';
	src: url(../fonts/WaffleRegular.otf);
} */

@font-face {
  font-family: "WaffleRegular";
  src: url("fonts/WaffleRegular.otf");
  src: url("fonts/WaffleRegular.woff");
  src: url("fonts/WaffleRegular.ttf");
}

.topnav {
  width: 960px;
  height: 10px;
  background:#a33c3c);
  margin:auto;
  padding: 10px 5px 10px 5px;
  display: flex;
  justify-content: center;
  }

.topnav ul{
display: inline;
}  

li {
  float:left;
  list-style:none;
  }

.topnav a {
  display:block;
  text-align:center;
  width:120px;
  text-decoration:none; 
  color: #fff;
  font-size: 10px;
  word-spacing: 1px;
  }

.topnav a:hover {
  color: rgb(207, 184, 107);
}

body {
  background:#000000;
  color:#fff;
  font-family: monospace;
	font-size: 90%;
  letter-spacing: 0;
  word-spacing: 0px;
  opacity: 80%;
}

a:link {
  text-decoration: none;
}

.heading {
  display: flex;
  justify-content: center;
  margin-top: -10px;
  font-family: WaffleRegular;
  color:#fff;
  font-size: 50px;
  letter-spacing: 2px;
  text-decoration: none;
}

.heading a {
  color: #fff;
}

.heading a:hover{
  color: rgb(207, 184, 107);
}

.wrapper {
	width: 960px;
  margin-top: -10px;
	margin: 0 auto;
	background:#000000);
	padding: 0 60px 0 60px;
}

.wrapper p {	
	padding: 0 40px 0 40px;
}

.wrapper h2, h3 {
  font-family: WaffleRegular;
  color:#fff;
  letter-spacing: 2px;
  padding: 0 40px 0 40px;
}

.row{
  clear: both;
  margin-bottom: 2%;
  }

  .row:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
  }

  [class*="col-"] {
    float: left;
    margin-left: 15%;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  [class*="col-"]:first-child {
    margin-left: 0;
  }
  
  .col-8{
    width: 40%;
    text-align: center;
    align-content: center;
  }

  .col-4{
    width: 40%;
    text-align: center;
    align-content: center;
  }
  
.grid1 {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 4px;
  grid-auto-flow: column;
}

.grid1 img {
	border: 2px rgb(0, 0, 0) solid;
	padding: 5px;
}

.grid1 img:hover {
  border: 50px ;
  border-color: blue;
}

.grid2 {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 4px;
  grid-auto-flow: column;
}

.grid2 img {
	border: solid 2px rgb(0, 0, 0) ;

	padding: 5px;
}

.grid2 :hover {
  color: rgb(207, 184, 107);
}

.grid2 img:hover {
  border: 50px ;
  border-color: blue;
}

.column {
	margin-bottom: 10px;
}

.column img {
	border: 2px rgb(0, 0, 0) solid;
	padding: 3px;
}

.column img:hover {
  border: 50px ;
  border-color: blue;
}

.my-form{
	padding:20px;
}

.my-form .form-group{
	padding-bottom:15px;
}

.my-form label{
	display:block;
}

.my-form input[type="text"], .my-form textarea{
	padding:8px;
	width:100%;
}

.button:hover{
	background:rgb(207, 184, 107);
	color:rgb(0, 0, 0);
}

.logos {
  align-content: center;
  margin-top: 20px;
} 

.logos i {
  margin-top: 20px;
  padding: 10px 50px;
  cen
}  


#main-footer{
	color:#fff;
	text-align: center;
	padding:20px;
	margin-top:40px;
  word-spacing: 2px;
}